.primarycolorbg {
  background-color:#051e42;
}

.secondarycolorbg {
  background-color:#051e42;
  color:black;
  position: relative;
  left: -20px;
	


}

.normalcolorbg {
  background-color:white;
  color:black;
}

#docDisplay {
  width: 60%; /* desired relative width */
  height: 70%;
  left: 40%;
  /*top: 10%;*/
  /*top: 10%;*/
/*  margin: auto auto auto auto; /* place center */
}
#docDisplay.fade.in {
  top: auto; /* fade in to correct spot */
}

.clickable {
  text-decoration: underline;
  color: blue;
}

.clickable:hover {
  background-color:#f47321;
}

.popover {
  max-width: 310px;
}

.leftmargin {
  margin-left: 2em;
}

/* JS 11/7/13 - design improvements for sidebar */

#indexcss {
position: relative;
float: left;
margin: 5px 0 5px 30px !important;
border: 1px solid #2e2f33 !important;
border-radius: 3px !important;
box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2) !important;
width: 98px !important;
height: 25px !important;
background: #4b5155 !important;
padding: 5px 0 0 !important;
color: #8f969a !important;
text-transform: uppercase !important;
text-align: center !important;
font-size: 12px !important;
text-shadow 0 -1px 0 rgba(0,0, 0, 0.2) !important;
	}
	
/* 	#logcss {
position: relative;
float: left;
margin: 5px 0 5px 30px !important;
border: 1px solid #2e2f33 !important;
border-radius: 3px !important;
box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2) !important;
width: 98px !important;
height: 25px !important;
background: #4b5155 !important;
padding: 5px 0 0 !important;
color: #8f969a !important;
text-transform: uppercase !important;
text-align: center !important;
font-size: 12px !important;
text-shadow 0 -1px 0 rgba(0,0, 0, 0.2) !important;
	}
 */

#aboutcss {
position: absolute;
left: 1px;
float: left;
margin: 5px 0 5px 0px !important;
border: 1px solid #2e2f33 !important;
border-radius: 3px !important;
box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2) !important;
width: 50000px !important;
height: 5000px !important;
background: #4b5155 !important;
padding: 5px 0 0 !important;
color: #8f969a !important;
text-transform: uppercase !important;
text-align: center !important;
font-size: 12px !important;
text-shadow 0 -1px 0 rgba(0,0, 0, 0.2) !important;
	}
	
a#refDate {
	z-index: 1;
	margin-left: 25px;
	padding: 0;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color: #f47321;
	text-shadow: 0 -px 1px #000;
	position: relative;
	}

	.indexlistbg {
	position: absolute;
	background-color: #f47321;
	color: black;
	margin-top: 150px;
	margin-left: -20px;
	font-size: 12px;
	}
	
	a#sifterlogo {
	position: relative;
	top: 4px;
	letter-spacing:20px;
	margin-left: 30px;
	font: bold 15px helvetica;
	color: #f47321;

	}
	
	.sifterandtime {
	background-color:#051e42;
	height: 40px;
	}
	
	a#indexlogo {
	position: relative;
	top: 40px;
	margin-left: 30px;
	font: bold 15px helvetica;
	color: white;

	}
	
	
